extends layout

block content
  h1 Cities overview
  div#cities-list
    table.table.table-striped
      thead
        tr
          th Name
          th Population
          th Area
          th Country
          th Pin to dashboard
      tbody


  #myModal.modal.fade(role='dialog')
      .modal-dialog(style="width: 80%;")
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            |
            h4#modal-title.modal-title Modal Header
          |
          .modal-body
            p Some text in the modal.
          |
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
