extends layout

block content
  h1 Cities overview
  div#cities-list
    table.table.table-striped
      thead
        tr
          th Name
          th Population
          th Area
          th Country
      tbody