extends layout

block content
  h1 Current convoys
  div#convoys-list
    table.table.table-striped
      thead
        tr
          th Destination
          th Distance
          th Speed
          th Number of vehicles
          th Coming from
          th Pin to dashboard
      tbody
