extends layout

block content
  h1 Dashboard
  div.cities
    h2 Pinned cities
    div.dashboard-cities-list
  div.Convoys
    h2 Pinned convoys
    div.dashboard-cities-list
  div.cities
    h2 Pinned Vehicles
    div.dashboard-cities-list